<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.software.input_methods"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_placeholder"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!--
          The IME itself. A settings Activity for language/dictionary
          preferences can be added later and wired up via
          android:settingsActivity below.
        -->
        <service
            android:name=".XngloIME"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

    </application>

</manifest>
